# nonsensical inputs will produce nonsensical outputs
#
# all paths use '/' as a seperator.
# I'll convert them for use with your OS if needed
#
# all paths end with a seperator.
#
network=AVO
network=AVO2
#network=HVO
#network=CNMI

debug=gov.usgs.subnetogram

#
# optional directives
#
# filesystem path to directory containing output files
pathRoot=html/

subnetDelay=5000
delayStart=false

# operate this many minutes in the past. Useful for delaying the creation of images due to high latency data
# in minutes
embargo=0

# if true, create images at reasonable times based on duration
onMark=true

# if true, create html pages
writeHtml=true

# format is passed to java.text.SimpleDateFormat
filePathDataFormat=/yyyy/DDD
fileNameDateFormat=_yyyyMMdd-HHmm

# What to do when an error is encountered known values are continue and exit
onError=continue

# Grrr... Gotta figure out what to do here
#startTime=-0i

# Time window for a single image in minutes
duration=10

# Time zone for display text. The VDX plotters don't handle this well. Stuff to fix.
#timeZoneName=US/Alaska
timeZoneName=UTC

## page settings
# template to apply
template=duff

mosaicSuffix=_mosaic

## image settings
waveRatio=25
overlap=0.859375
logPower=true
minFreq=0
maxFreq=15
nfft=0
binSize=256
maxPower=120
minPower=30
createImage=true
createThumbnail=true
detrend=true

# image settings
image.width=576
image.height=756

# thumbnail settings
thumbnail.width=151
thumbnail.height=198
thumbnail.fileSuffix=_thumb
thumbnail.decorate=false
thumbnail.duration=10

# mosaic settings
mosaic.fileSuffix=_mosaic
mosaic.duration=180
mosaic.period=10
mosaic.cols=6
mosaic.writeDaily=true
mosaic.dailyFileNameFormat=_yyyyMMdd
mosaic.dailyFileSuffix=_daily