# nonsensical inputs will produce nonsensical outputs
#
# all paths use '/' as a seperator.
# I'll convert them for use with your OS if needed
#
# all paths end with a seperator.
#
# required directives
subnet=Kilauea_LowerEastRift
subnet=Kilauea_EastRiftZone
#subnet=Kilauea_Summit
#subnet=Kilauea_SouthwestRiftZone
#subnet=MaunaLoa_Summit
#subnet=Hualalai
#subnet=Develocorder

dataSource=hvo-quake1;wws:localhost:16022:10000:0

#
# optional directives
#
# filesystem path to directory containing output files
pathRoot=html/

subnetDelay=10000
# operate this many minutes in the past. Useful for delaying the creation of images due to high latency data
# in minutes
embargo=0

# if true, create images at reasonable times based on duration
onMark=true

# format is passed to java.text.SimpleDateFormat
filePathDataFormat=/yyyy/DDD
fileNameDateFormat=_yyyyMMdd-HHmm
textTimeFormat=kk:mm

# What to do when an error is encountered known values are continue and exit
onError=continue

# Grrr... Gotta figure out what to do here
#startTime=-0i

# Time window for a single image in minutes
duration=10

# Time zone for display text. The VDX plotters don't handle this well. Stuff to fix.
timeZoneName=UTC

## page settings
# template to apply
template=duff

mosaicSuffix=_mosaic

## image settings
waveRatio=25
overlap=0.859375
logPower=true
minFreq=0
maxFreq=10
nfft=0
binSize=256
maxPower=120
minPower=30
createImage=true
createThumbnail=true

# image settings
image.width=576
image.height=756

# thumbnail settings
thumbnail.width=151
thumbnail.height=198
thumbnail.fileSuffix=_thumb
thumbnail.decorate=false

# mosaic settings
mosaic.fileSuffix=_mosaic
mosaic.duration=180
mosaic.period=10
mosaic.cols=6
