# nonsensical inputs will produce nonsensical outputs
#
# required directives
subnet=Spurr
subnet=Redoubt
#subnet=Iliamna
#subnet=Augustine
#subnet=Fourpeaked
#subnet=Snowy
#subnet=Katmai
#subnet=Martin
#subnet=Peulik
#subnet=Aniakchak
#subnet=Veniaminof
#subnet=Pavlof
#subnet=Dutton
#subnet=Shishaldin
#subnet=Westdahl
#subnet=Akutan
#subnet=Makushin
#subnet=Okmok
#subnet=Korovin
#subnet=Great_Sitkin
#subnet=Kanaga
#subnet=Tanaga
#subnet=Gareloi
#subnet=Semisopochnoi
#subnet=Little_Sitkin

dataSource=pubavo1;wws:pubavo1.wr.usgs.gov:16022:10000:0
